// custom 

$colour-input: #DFD4C0; 
$colour-primary: #DFD4C0;


//bootstrap
$theme-colours: (
    "primary": $colour-primary,
    "dark": $colour-primary,
); 

@import "~bootstrap/scss/bootstrap";

// 

.container {
    max-width: 1000px;
    margin: 1rem, auto;
  }

.container-home {
    text-align: center;
    padding: 20px;
}

.btn-om-oss {
    width: 150px;
    border-color: #DFD4C0; 
    border-width: 3px;
}

.btn-om-oss:hover {
    background-color: #DFD4C0;
}

.sykkelcontainer {
    text-align: center !important; 
}


// @media (min-width: 768px)



@import "./partials/typography"; 
@import "./partials/nav"; 
@import "./partials//footer"; 
@import "./partials/form"; 
@import "./partials/dashboard"; 