// custom 

$colour-input: #DFD4C0; 
$colour-primary: #DFD4C0;


//bootstrap
$theme-colours: (
    "primary": $colour-primary,
    "dark": $colour-primary,
); 

@import "~bootstrap/scss/bootstrap";

// 

.banner {
    width: 100% !important;
  }

.container-home {
    text-align: center;
    padding: 20px;
}

.btn-om-oss {
    width: 150px;
    border-color: #DFD4C0; 
    border-width: 3px;
}

.btn-send {
    background-color: white;
    opacity: 0.8; 
    margin: 20px;
}

.sykkelcontainer {
    text-align: center !important; 
}




@import "./partials/typography"; 
@import "./partials/nav"; 
@import "./partials//footer"; 