// custom 

$colour-input: #DFD4C0; 
$colour-primary: #DFD4C0; 


//bootstrap
$theme-colours: (
    "primary": $colour-primary,
    "dark": $colour-primary,
); 

@import "~bootstrap/scss/bootstrap";

// 

.container-home {
    text-align: center;
    padding: 20px;
}

.btn-om-oss {
    width: 150px;
    border-color: #DFD4C0; 
    border-width: 3px;
}

.btn-send {
    background-color: #DFD4C0;
}



@import "./partials/typography"; 