.container-footer-box {
    padding: 20px !important;
    text-align: center !important;
}

.main-footer {
    padding: 35px;
    background-color: #DFD4C0 !important;
}

li {
    padding: 5px;
}

.btn-send {
    background-color: white;
    opacity: 0.8; 
    margin: 20px;
}

.btn-send:hover {
    background-color: black;
    color: white;
}

