h1, h2, h3 {
    font-family: 'Familjen Grotesk', sans-serif;
    text-align: center; 
    padding: 10px;
}

.info-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px;
}